{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'sitedesp/css/despdiaria.css' %}">
    <title>Login</title>
</head>

<body>

    <h1 id="title">Login</h1>

    <div class="container">

        <div class="card">

            <form  method="post">
                {% csrf_token %}
              <label for="your_name">Login</label>
               <input type="text" name="username">
               <input type="password" name="password">
             <button type="submit">Salvar</button>
         </form>

            <a class="btn-back" href="{% url 'calculo' %}">Voltar</a>

        </div>

    </div>

   
</body>
</html>